* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 9.4fr 0.6fr;
    grid-template-areas:
        "header aside"
        "nav nav";
    min-height: 100vh;
    color: white;
}
nav {
    display: flex;
    grid-area: nav;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: Roboto;
}
ul {
    list-style-type: none;
    display: flex;
    width: 50vw;
    justify-content: space-between;
}
ul > li {
    margin: 0 10px;
}
header {
    grid-area: header;
    background-color: #132334;
    font-family: Pacifico;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px cadetblue;
}
aside {
    grid-area: aside;
    background-color: tomato;
    font-family: Roboto;
    display:flex;
    align-items:center;
}
aside > div > h2 {
    margin-bottom: 2rem;
}
aside > div > * {
    margin:1rem;
}
form {
    display: flex;
    justify-content: stretch;
    height: 2.5rem;
    box-shadow: 0 0 10px 5px #bb442e;
}
form > * {
    font-family: 'Arial Unicode MS';
    border: none;
}
form > input {
    flex-grow: 2;
    
}
form > button {
    flex-grow: 1;
    background-color: khaki;
    font-size: 1rem;
}
form > button:hover {
    background-color: yellow;
}

