* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows:1fr 2fr 2fr;
    grid-template-areas:
        "header header header"
        "left_sidebar main right_sidebar"
        "footer footer footer";
    color:white;
    width:100vw;
    height:100vh;
}
body > * {
    padding: 5vw;
}
header{
    background-color:deepskyblue;
    grid-area:header;
}
aside.left {
    grid-area:left_sidebar;
    background-color:red;
}
aside.right {
    grid-area: right_sidebar;
    background-color: yellow;
}
main {
    grid-area: main;
    background-color: lawngreen;
    background-color: lawngreen;
}
footer {
    grid-area: footer;
    background-color: blueviolet;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
div{
    background-color:darkorange;
    margin:0.2vw;
    display:flex;
    align-items:center;
    justify-content:center;
}