*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "sidebar main";
    height:100vh;
}
header {
    margin:2vh;
}
body > aside {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 3vh repeat(7,1fr);
    grid-template-areas:
        "header"
        "item_1"
        "item_2"
        "item_3"
        "item_4"
        "item_5"
        "item_6"
        "item_7";
    border:0.2vh solid black;
    min-width:0;
    min-height:0;
}
/*PARA EVITAR COMPLICACIONES CONVIENE USAR VH Y VW */
.item {
    display: grid;
    grid-template-columns: 16vh 2fr;
    grid-template-areas:
        "picture text";
    padding:0.2vh;
    /*Impide que estos items alteren los tamaños originales del grid*/
    min-width: 0;
    min-height: 0;
    border: 0.1px solid lightgrey;
}
 body > aside > h4 {
     background-color:darkgrey;
     overflow:hidden;
 }
.picture {
    border: 0.1vh solid black;
    /*Hacer div cuadrado*/
    width: 12vh;
    height: 0;
    padding-top: 12vh;
    margin: 0 2vh;
}
div > div.pic_container{
    display:flex;
    align-items:center;
    justify-content:flex-end;
}

main {
    grid-area:main;
    display:grid;
    grid-template-columns:2fr 1fr;
    grid-template-rows:1fr 10fr;
    grid-template-areas:
        "header header"
        "pics info";
    height:100vh;
}
main > header {
    grid-area: header;
    word-break: break-all;
}
main > div{
    grid-area:pics;
}
main > aside {
    grid-area:info;
}
.picture_2 {
    border: 0.1vh solid black;
    /*Hacer div cuadrado*/
    width: 100%;
    height: 0;
    padding-top: 100%;
}
.picture_3 {
    border: 0.1vh solid black;
    /*Hacer div cuadrado*/
    width: 10vh;
    height: 0;
    padding-top: 10vh;
}
.pic_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
main > aside{
    padding:0 2vh 0 0;
}
main > div{
    padding:0 2vh;
}
div.picture_3 + div{
    margin:0 1vh;
}
button{
    width:100%;
}
span + span {
    margin:0 3vh;
}
div.buy > *{
     margin:1vh 0;
}
div.buy {
    margin: 0 0 4vh;
}
button{
    padding:0.5vh;
}
div.item > div {
    display:flex;
    align-items:center;
}
div.item > div.text {
    flex-direction:column;
    align-items:flex-start;
    /*Para que la celda ocupe su tamaño sin importar su contenido*/
    max-width:100%;
    min-width:0;
    /*Para que el texto se ajuste al tamaño de la celda, es decir,
        se corte y siga en otra linea*/
    word-break:break-all;
    overflow: auto;
}
main